@model Tuple<IEnumerable<Mouvement>, Compte>

@{
    ViewData["Title"] = "Delete the account";
}

<div class="row">
    <div class="col-md-10 offset-md-1">
        <h1 class="mb-4">Delete Confirmation for @Model.Item2.nom 's Account</h1>
        <div class="alert alert-danger">
            Are you sure you want to delete this account?
        </div>
        <table class="table">
            <thead class="thead-light">
                <tr class="text-center">
                    <th>ID</th>
                    <th>Transaction Amount</th>
                    <th>Account Holder Name</th>
                    <th>Date</th>
                    <th>Transaction Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Item1)
                {
                    <tr>
                        <td>@item.id</td>
                        <td>@item.montant DH</td>
                        <td>@Model.Item2.nom</td>
                        <td>@item.date_mnt.ToString("dd-MM-yyyy")</td>
                        <td>
                            @if (item.montant > 0)
                            {
                                <span>Deposit</span>
                            }
                            else
                            {
                                <span>Withdrawal</span>
                            }
                        </td>
                        <td>
                            <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.id">
                                <i class="bi bi-trash"></i> Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row mt-4">
            <div class="col-md-6">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="@Model.Item2.id" />
                    <input type="submit" value="Confirm" class="btn btn-danger float-left" />
                </form>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <a class="btn btn-secondary" asp-action="Index">Back to Accounts</a>
            </div>
        </div>
    </div>
</div>
